nav.navbar.navbar-default.navbar-fixed-top(role="navigation")
	.container-fluid
		.navbar-header

			a.navbar-brand(href='/')
				img#logo(src='/img/favicon.png')
				|  educatopia

			ul.nav.navbar-nav.navbar-left
				li: a(href='/exercises') Exercises
				// li: a(href='/lessons') Lessons

		if session && session.user
			ul.nav.navbar-nav.navbar-right
				li
					a(href='/' + session.user.username)
						= session.user.username
				li
					a#newExercise(href='/exercises/create')
						span.glyphicon.glyphicon-edit
				li
					a#logoutButton(href='/logout').
						Logout
		else
			ul.nav.navbar-nav.navbar-right
				li
					a#loginButton(href='/login').
						Login
				li
					a#signupButton(href='/signup').
						Signup
