nav.navbar.navbar-inverse.navbar-fixed-top
	a.navbar-brand(href='/') educatopia

	ul.nav.navbar-nav
		li: a(href='/exercises') Exercises

		li: a(href='/reference') Reference

	a#newExercise.btn.btn-lg.btn-link.navbar-btn.navbar-right.glyphicon.glyphicon-edit(href='/exercise/create')
	a#signupButton.btn.btn-link.navbar-btn.navbar-right(href='/signup').
		Signup
	a#loginButton.btn.btn-link.navbar-btn.navbar-right(href='/login').
		Login
