nav.navbar.navbar-default(role="navigation")
  .container-fluid
    .navbar-header

      a.navbar-brand(href='/')
        img#logo(src='/img/favicon.png')
        | educatopia
        if settings.env === 'development'
          = ' dev'

      ul.nav.navbar-nav.navbar-left
        if featureMap.courses
          li: a(href='/courses') Courses
        if featureMap.lessons
          li: a(href='/lessons') Lessons
        if featureMap.exercises
          li: a(href='/exercises') Exercises

    if session && session.user
      ul.nav.navbar-nav.navbar-right
        li
          a#newExercise(href='/exercises/create')
            span.glyphicon.glyphicon-edit
            span  New Exercise
        li
          a(href='/' + session.user.username)
            = session.user.username
        li
          a#logoutButton(href='/logout').
            Logout
    else
      ul.nav.navbar-nav.navbar-right
        li
          a#loginButton(href='/login').
            Login
        li
          a#signupButton(href='/signup').
            Sign Up
