script(src='/modules/jquery/dist/jquery.min.js')
script(src='/modules/underscore/underscore-min.js')
script(src='/modules/bootstrap/dist/js/bootstrap.min.js')

script(
src='https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.6/highlight.min.js'
)
script(src='/modules/marked/marked.min.js')

block scripts

script(src="/js/piwik.js")
noscript
  p
    img(
    src='//piwik.adriansieber.com/piwik.php?idsite=2',
    style='border:0',
    alt=''
    )
