script(src='/components/jquery/jquery.js')
script(src='/components/underscore/underscore.js')
script(src='/components/backbone/backbone.js')
script(src='/components/bootstrap/dist/js/bootstrap.js')
script(src='/components/backbone-forms/distribution/backbone-forms.js')
script(src='/components/backbone-forms/distribution/editors/list.js')
script(src='/components/backbone-forms/distribution/templates/bootstrap.js')
script(type='text/x-mathjax-config').
	MathJax.Hub.Config({
		asciimath2jax: {
			delimiters: [['´','´'], ['\\\(','\\)']]
		}
	})

script(src='/components/MathJax/MathJax.js?config=AM_HTMLorMML')
script(src='/components/highlightjs/highlight.pack.js')
script(src='/components/marked/lib/marked.js')
//script(src='lang/de.js')
//script(src='js/lang.js')
//script(src='js/index.js')
//

//script(src="js/piwik.js")
	noscript
		p
			img(src="//piwik.adriansieber.com/piwik.php?idsite=2",
				style="border:0", alt="")
