script(src='/modules/jquery/dist/jquery.min.js')
script(src='/modules/underscore/underscore-min.js')
script(src='/modules/bootstrap/dist/js/bootstrap.min.js')

script(
src='https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/highlight.min.js'
)
script(src='/modules/marked/lib/marked.umd.js')

block scripts
