extends layout

block content
  .row.g-3
    for course in courses
      .col-sm-6
        .card.h-100
          .card-body
            h2.card-title= course.title
            p.text-justify= course.summary
            a.btn.btn-primary(href='courses/#{course.id}') Start the course

    .col-sm-6
      .card.h-100
        .card-body
          h2.card-title More Coming Soon
          p.text-justify.
            Stay tuned as more courses will come to Educatopia soon!<br>
            Subscribe to the courses-newsletter:

          .input-group
            input.form-control#coursesNewsletter(
            type='email', placeholder='Your email-address'
            )
            button.btn.btn-secondary(type='button') Submit
