extends exercise

block thirdTab
	if history
		each exercise, index in history
			table.table.table-striped.table-bordered.table-condensed
				thead
					tr
						th Nr
						th Created
						th User
				tbody
					tr
						td= (index + 1)
						td Time
						td User
	else
		.alert.alert-info.
			There are no previous versions of this exercise.
