extends layout

block content
	#banner.jumbotron
		.page-header
			h1 1001 Exercises
				br
				small Practice 'till you drop!
			p.
				The goal of this website is to build an extensive library of
				exercises from a variety of scientific topics such as Math,
				Digital Electronics, Modelling, Computer Science, …

			p Please Enjoy!
	- console.log('app', settings)
