extends layout

block content
	#banner
			strong.title Free exercises for everyone
			p.subtitle.
				Explore thousands of exercises from scientific topics like math, <br>
				electronics, computer science, biology, physics and chemistry.

			a.btn.btn-primary.btn-lg(href='/exercises') Start Browsing
