extends layout

block content
  #banner
    strong.title Free exercises for everyone
    p.subtitle.
      Educatopia is a platform for teachers and students
      to share and collaborate on exercises.

    p.subtitle.
      It already contains hundreds of exercises
      and their solutions in topics<br>
      like math, computer science, biology, physics, and chemistry.

    p.subtitle: b.
      Now I need your help to make this a valuable resource
      for every student!

    a.btn.btn-primary.btn-lg(href='/exercises') Start Browsing
    a.btn.btn-primary.btn-lg(href='/exercises/create') Add a New Exercise

  .container.mt-5
    .row.g-3
      for exercise in featuredExercises
        .col-md-6
          .card.h-100.text-bg-light
            h6.card-header
              = 'Exercise by '
              a.text-reset(href=`/${exercise.createdBy}`)
                = exercise.createdBy
              if exercise.subjects
                = ' in '
                = exercise.subjects.join(' and ')

            .card-body.d-flex.flex-column
              p= exercise.task
              .text-end.mt-auto
                a.btn.btn-outline-secondary(
                  href=`/exercises/${exercise.slug}` type='button').
                  Go to Exercise
