extends layout

block content
  #banner
    strong.title Free exercises for everyone
    p.subtitle.
      Educatopia is a platform for teachers and students
      to share and collaborate on exercises.

    p.subtitle.
      It already contains hundreds of exercises
      and their solutions in topics<br>
      like math, computer science, biology, physics, and chemistry.

    p.subtitle: b.
      Now I need your help to make this a valuable resource
      for every student!

    a.btn.btn-primary.btn-lg(href='/exercises') Start Browsing
    a.btn.btn-primary.btn-lg(href='/exercises/create') Add a New Exercise

  .center(style='max-width: 960px; margin: 5rem auto 0 auto;')
    .row
      for exercise, index in featuredExercises
        .col-xs-6.col-sm-6
          .panel.panel-info
            .panel-heading
              h3.panel-title
                = 'Exercise by '
                a(href=`/${exercise.createdBy}`)
                  = exercise.createdBy
                if exercise.subjects
                  = ' in '
                  = exercise.subjects.join(' and ')

            .panel-body
              = exercise.task
              br
              a.btn.btn-default.pull-right(
                href=`/exercises/${exercise.slug}` type='button').
                Go to Exercise

        if index % 2 == 1
          .clearfix
