doctype html
head
	meta(charset='utf-8')
	title educatopia

	meta(name='viewport', content='width=device-width, initial-scale=1.0')
	meta(name='description', content='')
	meta(name='keywords', content='exercises, education')
	meta(name='author', content='Adrian Sieber')

	link(rel='stylesheet', href='/components/bootstrap/dist/css/bootstrap.css')
	link(rel='stylesheet', href='/components/backbone-forms/distribution/templates/bootstrap.css')
	link(rel='stylesheet', href='/components/highlightjs/styles/tomorrow-night-eighties.css')
	link(rel='stylesheet', href='/css/screen.css')

	link(rel='apple-touch-icon-precomposed', sizes='144x144',
		href='/img/apple-touch-icon-144-precomposed.png')

	link(rel='apple-touch-icon-precomposed', sizes='114x114',
		href='/img/apple-touch-icon-114-precomposed.png')

	link(rel='apple-touch-icon-precomposed', sizes='72x72',
		href='/img/apple-touch-icon-72-precomposed.png')

	link(rel='apple-touch-icon-precomposed',
		href='/img/apple-touch-icon-57-precomposed.png')

	link(rel='shortcut icon', href='img/favicon.png')

include includes/navbar

#contentWrapper.container
	block content

footer
	p
		a(href='http://adriansieber.com') By Adrian Sieber
		span.muted •
		a(href='https://github.com/adius/educatopia') Github
		span.muted •
		a(href='https://github.com/adius/educatopia/issues') Issues

include includes/scripts
