extends layout

block content
  .row.g-3
    for lesson in lessons
      .col-sm-6
        .card.h-100
          .card-body
            h2.card-title= lesson.title
            p.text-justify= lesson.summary
            a.btn.btn-primary(href='lessons/#{lesson.id}') Start the lesson

    .col-sm-6
      .card.h-100
        .card-body
          h2.card-title More Coming Soon
          p.text-justify.
            Stay tuned as more lessons will come to Educatopia soon!<br>
            Subscribe to the lessons-newsletter:

          .input-group
            input.form-control#lessonsNewsletter(
            type='email', placeholder='Your email-address'
            )
            button.btn.btn-secondary(type='button') Submit
