extends layout

block content
  form(action='/signup', method='post')
    fieldset
      legend Sign Up

      .form-group
        label(for='username') Username
        input#username.form-control(type='text', name='username')

      .form-group
        label(for='email') Email
        input#email.form-control(type='email', name='email', required, pattern='[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}')

      .form-group
        label(for='password') Password
        input#password.form-control(type='password', name='password')

      br
      input.btn.btn-default(type='submit', value='Create Account')

  if error
    br
    p.alert.alert-danger
      = error.message

  if message
    br
    p.alert.alert-success
      = message
