extends layout

block content
	form(action='/signup', method='post')
		fieldset
			legend Signup

			label(for='username') Username
			br
			input#username(type='text', name='username')

			br
			br

			label(for='email') Email
			br
			input#email(type='text', name='email')

			br
			br

			label(for='password') Password
			br
			input#password(type='password', name='password')

			br
			br

			input(type='submit', value='Create Account')

	if data && data.message
		p= data.message
