body {
	padding-top: 70px;
}

#sidebar a,
#referenceSidebar a {
	cursor: pointer;
}

.nav {
	text-transform: capitalize;
}

.nav-header .label {
	margin-left: 6px;
}

.nav-header button {
	text-transform: none;
}

ul.nav li.dropdown:hover ul.dropdown-menu {
	display: block;
}

a.menu:after, .dropdown-toggle:after {
	content: none;
}

@media (max-width: 979px) {
	.navbar-fixed-top .navbar-inner,
	.navbar-fixed-bottom .navbar-inner {
		padding: 0 !important;
	}
}

.accordion {
	background-color: white;
	margin-top: 3em
}

.accordion-inner {
	line-height: 2;
	overflow: scroll;
}

s {
	color: rgb(185, 74, 72) !important;
	text-decoration: none;
}

.tooltip {
	text-shadow: none;
	font-weight: normal;
	line-height: normal;
	text-transform: none;
}

footer {
	background-color: #f5f5f5;
	padding: 20px 0;
	border-top: 1px solid #E5E5E5;
	text-align: center;
	margin-top: 40px;
}

footer a {
	margin: 0 10px;
}

#content .nav a {
	text-transform: none;
}


/* Exercise Formular */

#exerciseModal .modal-body {
	max-height: 500px;
}

#exerciseModal .form-horizontal .control-label {
	float: left;
	width: 100px;
	padding-top: 5px;
	text-align: right;
}

#exerciseModal .form-horizontal .controls {
	margin-left: 120px;
}

#exerciseModal .icon-question-sign{
	opacity: 0.3
}


.qed {
	float: right;
}

.qed:before {
	content: "\220E"
}

code {
	font-size: 11px;
	line-height: 1;
}

table caption {
	font-weight: 900;
	font-size: 120%;
	margin-bottom: 10px;
	text-align: left;
}

.table-auto {
	width: auto;
}

.alert{
	overflow: scroll;
}