html {
  height: 100%;
}

body {
  height: 100%;
}

a {
    cursor: pointer;
}

code {
    color: rgb(50,50,50);
    background-color: rgb(230, 230, 230);
}

.navbar {
    background-color: white;
    border-bottom: 1px solid rgb(220,220,220);
    margin-bottom: 0;
}

.navbar a {
    color: inherit;
}

.navbar-brand {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2em;
}

#logo {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 0.3em;
    position: relative;
    bottom: 0.1em;
}

s {
    color: rgb(185, 74, 72) !important;
    text-decoration: none;
}

.tooltip {
    text-shadow: none;
    font-weight: normal;
    line-height: normal;
    text-transform: none;
}

footer {
    background-color: #f5f5f5;
    padding: 20px 0;
    border: 1px solid #E5E5E5;
    border-left: none;
    border-right: none;
    text-align: center;
    margin-top: 40px;
}

footer a {
    margin: 0 10px;
}

#contentWrapper {
  padding-top: 2em;
}

#home #contentWrapper {
    width: 100%;
    padding: 0;
}

#banner {
  padding: 4em 0;
  text-align: center;
  position: relative;
}
/* Semi transparent Image */
#banner:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url('/img/galaxy.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
}
/* Black background */
#banner:after {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: -2;
  background-size: 100% 100%;
}

#banner .title {
    display: block;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 500;
    color: white;
    font-size: 4.2em;
    margin-bottom: 0.4em;
}

#banner .subtitle {
    color: rgb(200, 200, 200);
    font-weight: 300;
    font-size: 1.8em;
    margin-bottom: 2em;
}

#banner .btn {
    margin-bottom: 1em;
}

/* Exercise Formular */

#exerciseModal .modal-body {
    max-height: 500px;
}

#exerciseModal .form-horizontal .control-label {
    float: left;
    width: 100px;
    padding-top: 5px;
    text-align: right;
}

#exerciseModal .form-horizontal .controls {
    margin-left: 120px;
}

#exerciseModal .icon-question-sign {
    opacity: 0.3
}

.qed {
    float: right;
}

.qed:before {
    content: "\220E"
}

pre {
    background-color: rgb(45, 45, 45);
    border: none;
    color: rgb(200,200,200);
}

pre code {
    display: block;
    padding: 0.5em;
}

.alert {
    overflow: scroll;
}

.alert:empty {
    display: none;
}

.nav-tabs {
    margin-bottom: 1.5em;
}

#viewTab #task {
    margin-bottom: 3em;
}

#viewTab table {
    border-collapse: collapse;
    border: 1px solid rgb(221, 221, 221);
    margin-bottom: 1.5em;
}

#viewTab table thead {
    border-bottom: 2px solid rgb(221, 221, 221);
}

#viewTab table th:empty {
    display: none;
}

#viewTab table td,
#viewTab table th {
    border: 1px solid rgb(221, 221, 221);
    padding: 0.4em 0.8em;
}

#viewTab #solution {
    margin-bottom: 3em;
}

#viewTab .panel-heading {
    cursor: pointer;
}

#exerciseSidebar .progress {
    margin-bottom: 0;
}

.panel {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.form-control + button {
    margin-top: 1em;
}

.form-control + .form-control {
    margin-top: 0.5em;
}

.sr-only + textarea {
    margin-top: 0.3em;
}

.profile img {
    width: 100%;
}

#exercises .progress {
    margin-bottom: 0;
    height: 1em;
}

#course .media-object img {
    width: 4em;
    height: 4em;
}

#lesson article img {
    display: block;
    width: 90%;
    margin: 1.5em auto;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1);
}

@media (min-width: 768px) {
    #lesson p {
        max-width: 70%;
    }
}

@media (min-width: 992px) {
    #lesson .container,
    #course .container {
        width: 750px;
    }
}

@media (min-width: 1200px) {
    #lesson .container,
    #course .container {
        width: 750px;
    }
}
