apiVersion: v1
kind: Service
metadata:
  name: educatopia-service
  labels:
    app: educatopia
spec:
  ports:
    - port: 80
      targetPort: 3000
      protocol: TCP
  selector:
    app: educatopia
  type: NodePort
