extends layout

block thirdTab
  table.table.table-striped.table-sm
    thead
      tr
        th Revision
        th Created
        th User
    tbody.table-group-divider
      each exercise, index in history
        tr
          td= index + 1
          - var iso = exercise.createdAt.toISOString()
          td(title=iso, style='cursor: help')= iso.slice(0, 16).replace('T', ' ')
          td
            a(href='/' + exercise.createdBy)
              =exercise.createdBy
