extends ../layout

block content
	if exercise
		- var url = '/exercises/' + exercise.id

	.tabbable.col-sm-9
		ul#tabHandlers.nav.nav-tabs
			li(class= (page == 'exerciseView') ? 'active' : '')
				a(href=url, exercise-toggle='tab') Exercise
			li(class= (page == 'exerciseEdit') ? 'active' : '')
				a(href=url + '/edit', exercise-toggle='tab') Edit
			li(class= (page == 'exerciseHistory') ? 'active' : '')
				a(href=url + '/history', exercise-toggle='tab') History

		.tab-content
			#viewTab.tab-pane(class= (page == 'exerciseView') ? 'active' : '')
				block firstTab

			#editTab.tab-pane(class= (page == 'exerciseEdit') ? 'active' : '')
				block secondTab

			#historyTab.tab-pane(class= (page == 'exerciseHistory') ? 'active' : '')
				block thirdTab

	block sidebar
